$c-trout: #4F5B62;
$c-tundora: #484848;
$c-outer-space: #263238;
$c-mine-shaft: #212121;
$c-blue-charcoal: #000A12;

$c-primary-normal: $c-mine-shaft;
$c-primary-light: $c-tundora;
$c-primary-dark: black;
$c-primary-text: rgba(255, 255, 255, 0.75);

$c-secondary-normal: $c-outer-space;
$c-secondary-light: $c-trout;
$c-secondary-dark: $c-blue-charcoal;
$c-secondary-text: rgba(255, 255, 255, 0.9);