@font-face {
  font-family: "ProximaNova";
  src: url("fonts/ProximaNova-Regular.eot") format("eot"),
  url("fonts/ProximaNova-Regular.woff") format("woff"),
  url("fonts/ProximaNova-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "ProximaNova";
  font-weight: 200;

  src: url("fonts/ProximaNova-Semibold.eot") format("eot"),
  url("fonts/ProximaNova-Semibold.woff") format("woff"),
  url("fonts/ProximaNova-Semibold.ttf") format("truetype");
}